.inputSearch {
  width: 380px;
}

.nav {
  margin-bottom: 25px;
}

.nav a {
  color: #2a363b;
  border-radius: 4px;
  padding: 6px 10px;
  margin-right: 10px;
  text-decoration: none;
}

.nav a.active {
  color: #2196f3;
}

.nav a.noactive {
  font-style: italic;
}
