p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
}

ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.list {
  margin-bottom: 5px;
}

.link {
  text-decoration: none;
}

.inputSearch {
  min-width: 240px;
  min-height: 18px;
}

.btnSearch {
  margin-left: 5px;
  cursor: pointer;
}

.nav a {
  color: #2a363b;
  border-radius: 4px;
  padding: 6px 10px;
  margin-right: 10px;
  text-decoration: none;
}

.nav a.active {
  color: #2196f3;
}

/* .nav a.noactive {
  font-style: italic;
} */

.filmCard {
  display: flex;
}

.poster {
  display: block;
  max-width: 240px;
  height: auto;
}

.info {
  padding: 0;
  margin-left: 20px;
}

.back {
  margin-bottom: 10px;
  cursor: pointer;
}
.actors {
  display: block;
  margin-top: 20px;
}

.cast {
  display: flex;
  margin-bottom: 10px;
}

.reviews {
  display: flex;
}
